@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#sidebar::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #11376f;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100svh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #e4eaff;
}

.sidebar-main {
    width: 70px;
    min-width: 70px;
    transition: all .25s ease-in-out;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    position: fixed;
    height: 100%;
    flex-direction: column;
    background-color: #0e223e;
}

#sidebar.expand, .sidebar-main.expand {
    width: 250px;
    min-width: 250px;
    overflow-y: scroll;

    .sidebar-dropdown .sidebar-link {
        background-color: rgba(255, 255, 255, 0.027);
    }
}

#toggle-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 1rem 1.5rem;
}

#toggle-btn i {
    font-size: 1.5rem;
    color: #fafbfe;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #fafbfe;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) .sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #fafbfe;
    display: block;
    font-size: .9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-dropdown .sidebar-link {
    font-size: .83rem;
}

a.sidebar-link i {
    font-size: 1.15rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    /* margin-left: 10.25px; */
    background-color: rgba(255, 255, 255, .075);
    /* border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem; */
    border-left: 2px solid rgb(0, 102, 255);

    i {
        transform: scale(1.15);
    }
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    padding: 0;
    min-width: 15rem;
    display: none;
    background-color: #0e2238;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 19.93em;
    width: 100%;
    opacity: 1;

    .sidebar-link:hover {
        margin: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.navbar, .navbar-main {
    display: none;
    width: 100%;
    height: 50px;
    background-color: #fafbfe;
}

#sidebar-tgl {
    display: none;
}


@media screen and (max-width: 800px) {
    .sidebar-main {
        width: 0px;
        min-width: 0px;
    }

    .sidebar-main.expand {
        width: 0px;
        min-width: 0px;
    }
    
    #sidebar {
        width: 0px;
        min-width: 0px;
    }

    #sidebar:not(.expand) .d-flex button,
    #sidebar:not(.expand) .sidebar-logo,
    #sidebar:not(.expand) .sidebar-item,
    #sidebar:not(.expand) .sidebar-link span,
    #sidebar:not(.expand) .sidebar-footer {
        display: none;

    }

    #sidebar-tgl {
        display: block;
        border: none;
    }
    
    .navbar-main {
        display: block;
    }

    .navbar {
        display: block;
        position: fixed;
        z-index: 99;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}