@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #f4f4f4; /* Default underline color */
    transition: width 0.3s ease, left 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;       
    background-color: white;  /* Change underline color to white on hover */
    left: 0; /* Ensures the underline starts from the left */
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

