body {
    font-family: 'Poppins', sans-serif;
}

.card-body {
    justify-content: space-between;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: end;
    height: 15px;
    margin: 0;
}
.card-content div{
    gap: 1rem;
}

.card-value{
    margin: 0;
    font-size: 3.6rem;
    font-weight: bold;
    color: linear-gradient(to bottom, #152b28 0%, #123c14 50%, #172e11 100%);
    text-align: right;
}
.card-value-misc {
    margin-bottom: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: linear-gradient(to bottom, #152b28 0%, #123c14 50%, #172e11 100%);
    text-align: right;
}